body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
  }
  
  a {
    color: #0056b3;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Adjust margin for router outlet content */
  router-outlet {
    display: block;
    margin-top: 20px;
  }
  